<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.ProcessMapper">

    <select id="index" resultType="org.example.vo.process.ProcessVo">
        SELECT op.process_code AS op.process_code,
            op.title AS title,
            su.name AS name,
            opy.name AS process_type_name,
            opt.name AS process_template_name,
            op.description AS description,
            op.status AS status,
            op.create_time AS create_time
        FROM oa_process AS op
        LEFT JOIN sys_user AS su on op.user_id = su.id
        LEFT JOIN oa_process_template AS opt on op.process_template_id = opt.id
        LEFT JOIN oa_process_type AS opy on op.process_type_id = opy.id
        <where>
            <if test="vo.keyword!=null and vo.keyword!=''">
                and (
                op.process_code like concat('%', #{vo.keyword}, '%')
                or op.title like concat('%', #{vo.keyword}, '%')
                or su.name like concat('%', #{vo.keyword}, '%')
                or su.phone like concat('%', #{vo.keyword}, '%')
                )
            </if>
            <if test="vo.status != null and vo.status != ''">
                and op.status = #{vo.status}
            </if>
            <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
                and op.create_time &gt; #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
                and op.create_time &lt; #{vo.createTimeEnd}
            </if>
        </where>


    </select>
    <select id="getPage" resultType="org.example.vo.process.ProcessVo">
        SELECT * FROM oa_process
        <where>
            <if test="processQueryVo.userId != null  and processQueryVo.userId != ''">
                AND user_id = #{processQueryVo.userId}
            </if>
        </where>
    </select>
</mapper>